* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
display: flex;
flex-direction: column;
align-items: center;
}

#generate-btn {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
}

#main {
    margin-top: 30px;
    font-family: sans-serif;
    border-bottom: 1px solid black;
}