* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
}

#main {
    margin-top: 30px;
    font-family: sans-serif;
    border-bottom: 1px solid black;
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}

#instructions {
    font-family: sans-serif;
    padding: 0 20px;
    text-align: center;
}


@media (min-width: 768px) {
    #instructions {
        padding: 0 100px;
    }

    img {
        max-width: 150px;
    }
}


@media (min-width: 1024px) {
    #instructions {
        padding: 0 300px;
    }

    img {
        max-width: 200px;
    }
}
